/* funnel-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/funnel-sans-v2-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/funnel-sans-v2-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/funnel-sans-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/funnel-sans-v2-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/funnel-sans-v2-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/funnel-sans-v2-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/funnel-sans-v2-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/funnel-sans-v2-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/funnel-sans-v2-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/funnel-sans-v2-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/funnel-sans-v2-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/funnel-sans-v2-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}





body   {
    background: hsl(0, 0%, 10%);
    color: hsl(0 0% 98%);
    font-family: 'Funnel Sans', sans-serif;
    margin-top: 60px;
    text-align: center;
}

h1 {
    font-family: 'Funnel Sans', sans-serif;
    color: hsl(0, 0%, 98%);
    font-weight: 800;
    display: inline-block;
    font-size: 44px;
    margin-bottom: 0.2em;
    background: hsl(0 0% 20%);
    padding: 0.1em 0.5em;
    border-radius: 15px;
    
    
}

p{
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-top: 0.2em;
    color: hsl(0 0% 85%)
}

.container {
    text-align: center;
    
}
button{
    background-color: hsl(202, 100%, 50%);
    border: none;
    font-size: 20px;
    padding: 18px 72px;
    border-radius: 40px;
    margin-top: 1em;
    font-family: 'Funnel Sans', sans-serif;
    color: hsl(0, 0%, 98%);
    display: inline-block;
    box-shadow: 0px 0px 5px 5px hsla(202, 100%, 50%, 0.1);
    transition: background-color 0.3s ease;
    font-weight: 500;
    ;
}

button:hover {
  background-color: hsl(202, 100%, 40%); /* dunkler beim Hover */
  box-shadow: 0px 0px 5px 5px hsla(202, 100%, 40%, 0.1); /* Schatten verstärken */
  transform: scale(1.05);
}

/* Popup-Hintergrund */
.popup {
    display: none; /* unsichtbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Popup-Inhalt */
.popup-content {
    background: hsla(345, 50%, 30%, 1);
    padding: 20px 40px;
    border-radius: 20px;
    text-align: center;
    color: black;
  border: 3px solid hsla(345, 70%, 50%, 1);
}

.popup-content h1 {
  display: block;
  background: none;
  font-family: 'Funnel Sans', sans-serif;
  font-weight: 800;
  margin-top: auto;
}

.popup-content button {
  margin-top: auto;
  background-color: hsla(345, 70%, 50%, 1);
  box-shadow: 0px 0px 5px 5px hsla(345, 70%, 50%, 0.1);
}

.popup-content p {
  margin-top: auto;
}

.popup-content h1 {
  margin-bottom: auto;
}

head {
  background-color: aqua;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* deine Farbe */
  min-height: 100%;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
