/* funnel-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/funnel-sans-v2-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/funnel-sans-v2-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/funnel-sans-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/funnel-sans-v2-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/funnel-sans-v2-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/funnel-sans-v2-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/funnel-sans-v2-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/funnel-sans-v2-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/funnel-sans-v2-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/funnel-sans-v2-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/funnel-sans-v2-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* funnel-sans-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Funnel Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/funnel-sans-v2-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



/* Main */

body   {
    background: hsl(0, 0%, 10%);
    color: hsl(0 0% 98%);
    font-family: 'Funnel Sans', sans-serif;
    text-align: center;

    
}

h1 {
    font-family: 'Funnel Sans', sans-serif;
    color: hsl(0, 0%, 98%);
    font-weight: 800;
    display: inline-block;
    font-size: 44px;
    margin-bottom: 0.2em;
    background: hsl(0 0% 15%);
    padding: 0.1em 0.5em;
    border-radius: 15px;
    margin-top: 1.4em;
    box-shadow: 0px 0px 20px 5px hsl(0 0% 8%)
    
}

.heading {
  transition: all 0.4s ease;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.8);
}

.heading:hover {
  transform: scale(1.05);

}

p{
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-top: 0.2em;
    color: hsl(0 0% 85%);
    
}

.container {
    text-align: center;

} 

button{

    background: linear-gradient(to bottom right, hsl(202, 100%, 50%), hsl(202, 100%, 70%));
    border: none;
    font-size: 20px;
    padding: 18px 72px;
    border-radius: 40px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Funnel Sans', sans-serif;
    color: hsl(0, 0%, 98%);
    display: inline-block;
    box-shadow: 0px 0px 10px 5px hsla(202, 100%, 50%, 0.1);
    transition: background-color 0.3s ease;
    font-weight: 500;
    transition: all 0.4s ease;
    
}

button:hover {
 
  transform: scale(1.05);
  transition: all 0.4s ease;
}



html, body {
  margin: 0;
  padding: 0;
  background-color: hsl(0 0% 3%);
  min-height: 100%;
  overflow-x: hidden; 
}

body {
  padding-top: env(safe-area-inset-top);
}





/* Selection Karusell */

.addbtncon img {
  height: 150px;
   
  
}

.addbtncon {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;   
  gap: 20px;
  background-color: hsl(0 0% 15%);
  
  width: 150px;      
  padding: 20px;   
  border-radius: 1em;         
  margin: 0 auto;

  box-shadow: 0px 0px 20px 5px hsla(202, 0%, 8%, 1);

  margin-top: 3em;
}

.addbtncon button {
 font-size: 30px;
 padding: 5px 42px;
 font-weight: 600;
}



.fakebtn img {
  height: 100px;
   filter: brightness(0.8);
  
}

.fakebtn {
  text-align: center;
   display: flex;
  flex-direction: column; 
  align-items: center;   
  gap: 20px;
  background-color: hsl(0 0% 10%);

  width: 100px;      
  padding: 15px;   
  border-radius: 1em;         
  margin: 0 auto;

  box-shadow: 0px 0px 10px 5px hsla(202, 0%, 5%, 1);
  margin-top: 3em;
}

.fakebtn button {
 font-size: 15px;
 padding: 7px 30px;
 background: linear-gradient(to bottom right, hsl(202, 100%, 40%), hsl(202, 100%, 50%));
 box-shadow: 0px 0px 10px 5px hsla(202, 100%, 50%, 0.1);
 font-weight: 600;
}

.fakebtn button:hover {
  box-shadow: 0px 0px 10px 5px hsla(202, 100%, 40%, 0.1); 
}

.fakebtn2 img {
  height: 100px;
  filter: brightness(0.8);
  
}

.fakebtn2 {
  text-align: center;
   display: flex;
  flex-direction: column; 
  align-items: center;   
  gap: 20px;
  background-color: hsl(0 0% 10%);

  width: 100px;      
  padding: 15px;   
  border-radius: 1em;         
  margin: 0 auto;

  box-shadow: 0px 0px 10px 5px hsla(202, 0%, 5%, 1);

  margin-top: 3em;
}

.fakebtn2 button {
 font-size: 15px;
 padding: 7px 30px;
 background: linear-gradient(to bottom right, hsl(202, 100%, 40%), hsl(202, 100%, 50%));
 box-shadow: 0px 0px 10px 5px hsla(202, 100%, 50%, 0.1);
 font-weight: 600;
}

.fakebtn2 button:hover {
  box-shadow: 0px 0px 10px 5px hsla(202, 100%, 40%, 0.1); 
}

.container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.fakebtn, .addbtncon, .fakebtn2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease;
}

.fakebtn:hover, .addbtncon:hover, .fakebtn2:hover {
  transform: scale(1.05);

}

.container-row > .fakebtn,
.container-row > .fakebtn2,
.container-row > .addbtncon {
  margin: 3em 0;
}


/* Popup Name */


.popup {
  display: none; /* unsichtbar */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
 
}

.popup-content {
  background: hsl(0 0% 10%);
  padding: 8px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
  margin: 0;
}

.popup-content input {
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 3px solid hsl(0, 0%, 30%);
  background: hsl(0, 0%, 95%);
  text-align: center;
  font-family: 'Funnel Sans';
  font-weight: 800;
  color: hsl(0, 0%, 30%);
  margin-bottom: 20px;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 5px 5px hsl(0 0% 8%)
}

.popup-content h2 {
  background: hsl(0, 0%, 15%);
  padding: 8px 20px;
  border-radius: 10px;
  text-shadow: 2px 2px 5px rgba(0,0,0,1);
  margin-top: 0;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  margin-left: 15px; margin-right: 15px;
  box-shadow: 0px 0px 3px 3px hsl(0 0% 9%)
}

.closePopup {
  border-radius: 12px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  border: none;
  font-family: 'Funnel Sans', sans-serif;
  color: hsl(0, 0%, 98%);
  background: hsl(340, 100%, 50%);
  box-shadow: 0px 0px 5px 5px hsla(340, 80%, 40%, 0.1);
  margin-top: 0;
  transition: transform 0.4s ease;
  align-self: flex-end;
  line-height: 1;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  padding: 1px 0.6em;
  margin-bottom: 12px;
}




.popup-content h2:hover {
  transform: scale(1.03);
}

#saveName {
  padding: 10px 30px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, hsl(202, 100%, 50%), hsl(202, 100%, 70%));
  font-weight: 600;
}

.popup-content input:hover {
  transform: scale(1.05);
}

/* Versionsnummer */

.versionsnummer {
  font-size: 15px;
  color: hsl(0 0% 50%);
  text-align: center;
  position: absolute;
  display: flex;
  margin: 0;
  transform: translateX(-50%);
  left: 50%; 
  bottom: 20px;
}

/* popup timer */

.popup-content label {
    background: hsl(0, 0%, 15%);
  padding: 8px 20px;
  border-radius: 10px;
  text-shadow: 2px 2px 5px rgba(0,0,0,1);
  margin-top: 0;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  margin-left: 15px; margin-right: 15px;
  box-shadow: 0px 0px 3px 3px hsl(0 0% 9%)
}

.popup-content label:hover {
  transform: scale(1.03);
}